{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div lang="en" class="interests-container container-block">

  <h2 class="container-block-title">
    Personal Profile
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests %}

      <li>I'm a third-year M.S. student at the Bridge Department of the School of Transportation at Southeast University <a href="https://mp.weixin.qq.com/s/6URtYgNhKh2wmaegpLi0JQ"><b><u>belongs to the Laboratory of New Compos&shy;ite Structure and Long Bri&shy;dge Construction & Maintenance.</u></b></a></li>
      <li>Research interests: New composite structure; Inverse engineering problems; Bridge construction and engineering control.</li>
      <li>Also, aim at interdisciplinary research, have experience in <a href="https://coursera.org/share/d6cd0aa67e414c0a7ddf23db8758deae"><b><u>deep-learning</u></b></a>，<a href="https://coursera.org/share/cc9ef0a0042bf10c00a79bfb5cddb432"><b><u>Javascript，HTML5 & CSS.</u></b></a>(Click the underlined text to view the relevant certificates)</li>

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
